*{
    padding: 0;
    margin: 0;
}
:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}
body {
    font-family: 'Inter', sans-serif;
    

}
.bg1 {
    top: 50px;
    left: 600px;

    width: 600px;
}
.quotes {
    width: 150px;
    top: 150px;
    left: 150px;
}
.wave {
    bottom: 0px;
    left: 0px;
}
.person {
    display: flex;
    position: absolute;

    justify-content: center;
    align-items: center;

    margin-top: 200px;
    margin-left: 200px;
}

.writing {
    width: 600px;
    position: relative;
}

/* h1  */
.review {
    font-size: 27px;
    font-weight: 300;
    color: var(--dark-blue);
    line-height: 1.4;
}
/* h2  */
.name {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 200;

    color:hsl(240, 18%, 77%)
}
strong {
    color:hsl(240, 38%, 20%)
}

img {
    position: absolute;
    left: 500px;
    width: 450px;
}

.bton {
    position: absolute;
    top: 530px;
    left: 730px;
    
    display: flex;

    width: 80px;
    height: 40px;
    background-color: hsl(240, 20%, 95%);
    box-shadow: 0px 0px 5px rgb(148, 148, 148);

    border-radius: 20px;
    overflow: hidden;

    align-items: center;
    justify-content: space-evenly;
}
button {
    border: none;
    padding: 10px;
    /* background-color: white; */
}